fastapi
uvicorn[standard]

langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint

langchain-core
langchain-google-genai
langchain-groq
langchain-mcp-adapters
langchain-protocol
langsmith

mcp

google-genai
groq

httpx
httpx-sse
requests

python-dotenv

pydantic
pydantic-settings

python-jose
passlib
python-multipart
google-auth

SQLAlchemy
psycopg[binary]

orjson
PyYAML